# Ambiente virtual
venv/

# Cache Python
__pycache__/
*.py[cod]

# Arquivos de log
logs/
*.log

# Configurações locais de IDEs
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.bak

# Arquivos de build (futuros instaladores)
build/
dist/
*.spec

# Arquivos de exportação ou testes
estrutura.txt
Passo_a_Passo_Aria2_Control_APP.pdf

# Histórico de execução (opcional, se for criar depois)
download_history.json